[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/doxygen-bootstrapped"]
	path = external/doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped.git
	branch = feature/support-doxygen-1.1.12+
