CXX 	 = g++

CXXFLAGS =  -I.. \
			-Wp,-MMD,$*.dep \
            -Wall -Wextra -pedantic \
            -fPIC \
            -std=c++11

# UNCOMMENT THIS FOR LINUX
# ========================
#
# GL = -lGL
# GLU = -lGLU
# GLUT = -lglut
# GLEW = -lGLEW
# IL = -lIL 
# ILU = -lILU 
# ILUT = -lILUT

DEPENDENCIES= ../linalg

LIB = -llinalg $(GL) $(GLU) $(GLEW) $(GLUT) $(IL) $(ILU) $(ILUT)